# Python
__pycache__/
*.pyc
*.pyo

# Virtual env
venv/
.venv/
.env
.env.*
!.env.example
.env/

# ML artifacts
ml/artifacts/
reports/
*.joblib
*.pkl

# Data
data/processed/

# Testing
.pytest_cache/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
